<!DOCTYPE html>
<html>
<head>
    <title>Announcement message generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" >
</head>
<body>
    <header>
        <h1>Welcome people!</h1>
        <p>Enter the competition URL below to get your message!</p>
    </header>

    <main>
        <form action="/result" method="post">
            <input type="text" name="(competition_url" placeholder="Enter Competition URL" required>
            <button type="submit" value="Submit">Generate Messages</button>
        </form>
    </main>
</body>
</html>
